#detail-page {
	width: 100%;
	overflow: hidden;
}

.detail-information-container {
	width: 100%;
	height: 80vh;
	display: flex;
	align-items: center;
}

.cocktail-image {
	margin-left: auto;
	margin-right: 10px;
	width: 50vh !important ;
	height: 50vh;
}

.badgeWrap {
	display: flex;
	gap: 6px;
	font-size: 12px;
	font-weight: 600;
	color: rgb(242, 92, 92);
	margin-bottom: 10px;
}

.title {
	font-size: 28px;
	font-weight: 800;
	letter-spacing: -1px;
	margin-right: 6px;
}

.detail-content {
	margin-top: 6px;
	width: 300px;
	height: 300px;
}

.detailcontent {
	line-height: 1.8;
	white-space: pre-wrap;
}

.secondTitle {
	margin-bottom: 2px;
	font-size: 15px;
	font-weight: 900;
	color: rgb(110, 110, 110);
}

.cocktail-image {
	width: 300px;
	height: 300px;
	display: block;
	border-radius: 15px;
	filter: saturate(120%);
}

#middle-banner {
	margin-top: 20px;
	margin-bottom: 20px;
}

.recipe {
	margin-top: 20px;
}

.translation {
	background-color: white;
}

.unit-btn {
	color: black !important;
	font-weight: bold !important;
	border-width: 2px !important;
}

.similar-cocktail {
	display: flex;
	justify-content: center;
	padding-bottom: 30px;
}

.similar-cocktail h1 {
	font-size: x-large;
	color: #ff0000c5;
	font-weight: bolder;
}

#detail-middle-banner {
	width: 100%;
	/* background-color: black; */
	padding: 20px;
	box-sizing: border-box;
	margin: 20px 0;
}

.explanation-paper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70vw;
	max-height: 90vh;
	margin: 0 auto;
	margin-top: 5rem;
	overflow: hidden;
}

.explanation-paper-img-container {
	position: relative;
	width: 100%;
}

.explanation-paper-img {
	width: 100%;
	height: auto;
	object-fit: contain;
}

.explanation-div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5px;
	text-align: center;
	z-index: 1;
	font-size: 2.3vw; /* 텍스트의 크기를 vw로 설정 */
	font-weight: bold;
}

.ingredient-paper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70vw;
	/* max-height: 90vh; */
	margin: 0 auto;
	overflow: hidden;
}

.ingredient-paper-img {
	width: 100%;
	height: auto;
	object-fit: contain;
	opacity: 0.75;
}

.ingredient-list {
    position: absolute;
    top: 50%; /* 이미지의 중앙에 위치 */
    left: 50%; /* 이미지의 중앙에 위치 */
    transform: translate(-50%, -70%); /* 이미지와 텍스트를 중앙으로 정렬 */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
	margin-left: 20vw;
    width: 100%; /* 부모 요소에 꽉 차게 설정 */
}


.ingredient-row {
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
	margin-bottom: 10px; /* 각 재료 행 사이의 간격 조절 */
}

.item-ingredient,
.item-measure {
	margin: 0; /* 기본 마진 제거 */
	font-size: 2.3vw;
	font-weight: bold;
}

.item-ingredient {
	color: rgb(254, 51, 15);
	
}

.item-measure {
	color: rgb(109, 196, 55);
}
.ingredient-list h3 {
	margin-right: 61%;
	text-align: center; /* 가운데 정렬 추가 */
	font-weight: bolder;
	margin-bottom: 20px; /* 재료 정보 제목과 재료들 사이의 간격 조절 */
}
